

<table class="table container ">
  <thead>
    <tr>
      <td colspan="1">Product:</td>
      <td colspan="1">
        <select  class="select is-rounded is-small" #product>
          <option class="" *ngFor="let product of filteredItems; index as j" value="{{j}}">{{product.name}}</option>
        </select>
      </td>
      <td colspan="1">Quantity:</td>
      <td colspan="1"><input class="input is-small" value="1" min="1" type="number" #quantity/></td>
      <td colspan="1"><button class="button is-primary" [disabled]="filteredItems.length==0"  (click)="add(product.value, quantity.value)">Add</button></td>
    </tr>
    <tr>
      <th>Id</th>
      <th>Item</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <p *ngIf="sales.length == 0">No Items...</p>
    <tr sale-row *ngFor='let sale of sales; index as i'
       (quantityChanged)="onQuantityUpdate($event)" 
      (itemRemoved)="onItemRemoved($event)"
      [saleCount]='i' [saleItem]='sale'>
    </tr>
    
  </tbody>
  <tfoot>
    
    <tr>
      <td colspan="2"><h2><strong>{{ total | currency }}</strong></h2></td>
      <td colspan="2"><button class="button is-success" [disabled]="total==0" (click)="cash()">Cash Out</button></td>
    </tr>
  </tfoot>
</table>

